-- Verificar si CAJA BAR existe
SELECT
  'VERIFICACIÓN CAJA BAR' as status,
  id,
  name,
  type,
  is_active,
  created_at
FROM cash_registers
WHERE name = 'CAJA BAR';

-- Mostrar todas las cajas registradoras
SELECT
  'TODAS LAS CAJAS' as status,
  id,
  name,
  type,
  is_active,
  created_at
FROM cash_registers
ORDER BY type, name;